.content-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.content {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 10px;
    word-wrap: break-word;
    /* min-width: 500px; */
}

.jumbo2 {
    background: #263238;
    color: #fff;
}

.jumbo2-content {
    padding-left: auto;
    padding-right: auto;
    word-wrap: break-word;
}

.jumbo2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    /* padding-right: 10%; */
}

.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}